<header>
    <div>
        <h1>STUDY</h1>
    </div>
</header>

<main>
    <div class="container">

<div>
    {{!-- postagens ja feitas --}}
    <h1>POSTAGENS</h1>
    <div>
        <p></p>
        <p></p>
        <p></p>
    </div>
</div>

{{!-- para postagens --}}



<div class="section">
    <form action="/study/add" method="post" class="form">
    <div>
        <h1>PLANEJE SEU ESTUDO!</h1>
    </div>
        <div>
            <label for="tema">Qual o tema do seu estudo?</label>
            <input type="text" name="tema" placeholder="TEMA DO ESTUDO">
        </div>

        <div>
            <label for="descri">Sua descrição/roteiro</label>
            <input type="text" name="descri" placeholder="DESCRIÇÃO" class="descri">
        </div>

        <div>
            <label for="data">Qual a data que vai ser realizada seu estudo?</label>
            <input type="text" name="data" placeholder="DATA DO ESTUDO">
        </div>

        <div>
            <label for="tempo">Qual o tempo de estudo?</label>
            <input type="text" name="tempo" placeholder="TEMPO DE ESTUDO">
        </div>
        <div>
            <input type="submit" value="Study!" class="submit">
        </div>
    </form>
</div>


    </div>
</main>

<footer>
    <div>
        <p>todos os direitos reservados.</p>
    </div>
</footer>